Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Resources/UI/background.png filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Models/Buildings/Pagoda.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Models/Buildings/Room.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Models/Nature/Volcano.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Models/Animals/Lion.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Models/Animals/Elephant.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Models/Animals/Butterfly.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Models/Vehicles/Convertible.glb filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Fonts/NotoSansSC-Regular.otf filter=lfs diff=lfs merge=lfs -text
Assets/Resources/RoomDecor/WallMap.glb filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/API-Example/Examples/Advanced/AudioSourceBGM.mp3 filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/MacOS/AgoraRtcWrapperUnity filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraContentInspectExtension.framework/AgoraContentInspectExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraContentInspectExtension.framework/Versions/A/AgoraContentInspectExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraContentInspectExtension.framework/Versions/Current/AgoraContentInspectExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/video_enc.framework/Versions/A/video_enc filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/video_enc.framework/Versions/Current/video_enc filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/video_enc.framework/video_enc filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAudioBeautyExtension.framework/Versions/A/AgoraAudioBeautyExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAudioBeautyExtension.framework/Versions/Current/AgoraAudioBeautyExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAudioBeautyExtension.framework/AgoraAudioBeautyExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraSpatialAudioExtension.framework/Versions/A/AgoraSpatialAudioExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraSpatialAudioExtension.framework/Versions/Current/AgoraSpatialAudioExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraSpatialAudioExtension.framework/AgoraSpatialAudioExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiNoiseSuppressionExtension.framework/AgoraAiNoiseSuppressionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiNoiseSuppressionExtension.framework/Versions/A/AgoraAiNoiseSuppressionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiNoiseSuppressionExtension.framework/Versions/Current/AgoraAiNoiseSuppressionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiEchoCancellationLLExtension.framework/AgoraAiEchoCancellationLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiEchoCancellationLLExtension.framework/Versions/A/AgoraAiEchoCancellationLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiEchoCancellationLLExtension.framework/Versions/Current/AgoraAiEchoCancellationLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraClearVisionExtension.framework/Versions/A/AgoraClearVisionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraClearVisionExtension.framework/Versions/Current/AgoraClearVisionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraClearVisionExtension.framework/AgoraClearVisionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraFaceCaptureExtension.framework/AgoraFaceCaptureExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraFaceCaptureExtension.framework/Versions/A/AgoraFaceCaptureExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraFaceCaptureExtension.framework/Versions/Current/AgoraFaceCaptureExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoAv1EncoderExtension.framework/Versions/A/AgoraVideoAv1EncoderExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoAv1EncoderExtension.framework/Versions/Current/AgoraVideoAv1EncoderExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoAv1EncoderExtension.framework/AgoraVideoAv1EncoderExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraLipSyncExtension.framework/Versions/A/AgoraLipSyncExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraLipSyncExtension.framework/Versions/Current/AgoraLipSyncExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraLipSyncExtension.framework/AgoraLipSyncExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/video_dec.framework/Versions/A/video_dec filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/video_dec.framework/Versions/Current/video_dec filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/video_dec.framework/video_dec filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoSegmentationExtension.framework/AgoraVideoSegmentationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoSegmentationExtension.framework/Versions/A/AgoraVideoSegmentationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoSegmentationExtension.framework/Versions/Current/AgoraVideoSegmentationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/Agorafdkaac.framework/Versions/A/Agorafdkaac filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/Agorafdkaac.framework/Versions/Current/Agorafdkaac filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/Agorafdkaac.framework/Agorafdkaac filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoQualityAnalyzerExtension.framework/Versions/A/AgoraVideoQualityAnalyzerExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoQualityAnalyzerExtension.framework/Versions/Current/AgoraVideoQualityAnalyzerExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraVideoQualityAnalyzerExtension.framework/AgoraVideoQualityAnalyzerExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/Agoraffmpeg.framework/Versions/A/Agoraffmpeg filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/Agoraffmpeg.framework/Versions/Current/Agoraffmpeg filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/Agoraffmpeg.framework/Agoraffmpeg filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiNoiseSuppressionLLExtension.framework/Versions/A/AgoraAiNoiseSuppressionLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiNoiseSuppressionLLExtension.framework/Versions/Current/AgoraAiNoiseSuppressionLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiNoiseSuppressionLLExtension.framework/AgoraAiNoiseSuppressionLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraRtcKit.framework/Versions/A/AgoraRtcKit filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraRtcKit.framework/Versions/Current/AgoraRtcKit filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraRtcKit.framework/AgoraRtcKit filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraFaceDetectionExtension.framework/Versions/A/AgoraFaceDetectionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraFaceDetectionExtension.framework/Versions/Current/AgoraFaceDetectionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraFaceDetectionExtension.framework/AgoraFaceDetectionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiEchoCancellationExtension.framework/Versions/A/AgoraAiEchoCancellationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiEchoCancellationExtension.framework/Versions/Current/AgoraAiEchoCancellationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraAiEchoCancellationExtension.framework/AgoraAiEchoCancellationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraScreenCaptureExtension.framework/AgoraScreenCaptureExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraScreenCaptureExtension.framework/Versions/A/AgoraScreenCaptureExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/macOS/AgoraRtcWrapperUnity.bundle/Contents/Frameworks/AgoraScreenCaptureExtension.framework/Versions/Current/AgoraScreenCaptureExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraContentInspectExtension.framework/AgoraContentInspectExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/video_enc.framework/video_enc filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraAudioBeautyExtension.framework/AgoraAudioBeautyExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraSpatialAudioExtension.framework/AgoraSpatialAudioExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraAiNoiseSuppressionExtension.framework/AgoraAiNoiseSuppressionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraAiEchoCancellationLLExtension.framework/AgoraAiEchoCancellationLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraClearVisionExtension.framework/AgoraClearVisionExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraFaceCaptureExtension.framework/AgoraFaceCaptureExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraLipSyncExtension.framework/AgoraLipSyncExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/video_dec.framework/video_dec filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraVideoSegmentationExtension.framework/AgoraVideoSegmentationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraVideoQualityAnalyzerExtension.framework/AgoraVideoQualityAnalyzerExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/Agoraffmpeg.framework/Agoraffmpeg filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraAiNoiseSuppressionLLExtension.framework/AgoraAiNoiseSuppressionLLExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraRtcKit.framework/AgoraRtcKit filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/iOS/AgoraAiEchoCancellationExtension.framework/AgoraAiEchoCancellationExtension filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_ai_echo_cancellation_ll_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_ai_noise_suppression_ll_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora-ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_clear_vision_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_audio_beauty_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/agora_rtc_sdk.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_content_inspect_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_segmentation_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_ai_noise_suppression_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_screen_capture_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_video_quality_analyzer_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_face_capture_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/AgoraRtcWrapper.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_lip_sync_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_ai_echo_cancellation_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_spatial_audio_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/video_dec.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/libagora_video_av1_encoder_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86/video_enc.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/agora-rtc-sdk-javadoc.jar filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/agora-rtc-sdk.jar filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora_lip_sync_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora_ai_noise_suppression_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora_ai_echo_cancellation_ll_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora_audio_beauty_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora-rtc-sdk.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora_spatial_audio_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora-ffmpeg.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora_ai_noise_suppression_ll_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/armeabi-v7a/libagora_ai_echo_cancellation_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86/libagora_audio_beauty_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86/libagora-rtc-sdk.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86/libagora_spatial_audio_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86/libagora-ffmpeg.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86/libAgoraRtcWrapper.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora_lip_sync_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora_ai_noise_suppression_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora_ai_echo_cancellation_ll_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora_audio_beauty_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora-rtc-sdk.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora_spatial_audio_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora-ffmpeg.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora_ai_noise_suppression_ll_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libagora_ai_echo_cancellation_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/arm64-v8a/libAgoraRtcWrapper.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86_64/libagora_audio_beauty_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86_64/libagora-rtc-sdk.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86_64/libagora_spatial_audio_extension.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86_64/libagora-ffmpeg.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/Android/AgoraRtcEngineKit.plugin/libs/x86_64/libAgoraRtcWrapper.so filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_ai_echo_cancellation_ll_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_ai_noise_suppression_ll_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora-ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_clear_vision_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_audio_beauty_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/agora_rtc_sdk.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_content_inspect_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_segmentation_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_ai_noise_suppression_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_screen_capture_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_video_quality_analyzer_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libaosl.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_face_capture_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/AgoraRtcWrapper.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_lip_sync_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_ai_echo_cancellation_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_spatial_audio_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/video_dec.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/libagora_video_av1_encoder_extension.dll filter=lfs diff=lfs merge=lfs -text
Assets/Agora-RTC-Plugin/Agora-Unity-RTC-SDK/Plugins/x86_64/video_enc.dll filter=lfs diff=lfs merge=lfs -text
Assets/appIcon.png filter=lfs diff=lfs merge=lfs -text
